<div *ngIf="subscription && !subscription.closed" class="Loading">
  Loading premade data...
</div>
<div *ngIf="errors.length > 0">
  <div *ngFor="let e of errors">{{e}}</div>
  <button (click)="queryRecentPremades()">Try again</button>
</div>
<div *ngIf="possible_premades">
  <div
      *ngFor="let p of possible_premades.filter(filterLikelyPremades)"
      class="Premade"
      title="They played {{p.found_in_games_total}} of {{p.searched_in_games_total}} most recent games together"
  >
    Possibly in premade with {{p.summoner.current_name}} ({{p.found_in_games_total}}/{{p.searched_in_games_total}})
  </div>
</div>