<div class="Finders">
  <lobby-generator
      class="Finders__container"
      (lobby_emitter)="handleNewLobby($event)">
  </lobby-generator>
  <div class="Finders__container InGameFinder">
    <div class="InGameFinder__description">
      OR<br/>
      if in game
    </div>
    <current-game-finder
        class="InGameFinder__control"
        (current_game_emitter)="handleNewCurrentGame($event)">
    </current-game-finder>
  </div>
</div>

<pre-game-teammates
    *ngIf="lobby && !current_game"
    [queue]="lobby.game_type"
    [teammates]="lobby.teammates"

    (current_game_emitter)="handleNewCurrentGame($event)"
    (close_emitter)="lobby = null">
</pre-game-teammates>

<current-game
    *ngIf="current_game"
    [current_game]="current_game"

    (close_emitter)="current_game = null">
</current-game>