<div class="Generators">
  <lobby-generator
      class="Generators__generator"
      (lobby_emitter)="handleNewLobby($event)">
  </lobby-generator>
  <current-game-finder
      class="Generators__generator"
      (current_game_emitter)="handleNewCurrentGame($event)">
  </current-game-finder>
</div>

<pre-game-teammates
    *ngIf="lobby && !current_game"
    [queue]="lobby.game_type"
    [teammates]="lobby.teammates"

    (current_game_emitter)="handleNewCurrentGame($event)">
</pre-game-teammates>

<current-game
    *ngIf="current_game"
    [current_game]="current_game">
</current-game>