%clearfix { &:after { content: " "; display: table; clear: both; } }

.Finders {
  @extend %clearfix;
  &__container {
    float: left;
  }
}

.InGameFinder {
  @extend %clearfix;
  &__description {
    float: left;
    margin-left: 42px;
    margin-right: 42px;
    font-family: Roboto, 'sans-serif';
    font-size: 18px;
    text-align: center;
    position: relative;
    top: -0.34em;
  }
  &__control {
    float: left;
  }
}