.CurrentGame {
  display: table;
  background: #FFF;
}

.CloseBtn {
  float: right;
}

.Teammates {
  display: table;
  padding: 3px;
  border: 1px solid slategray;
  margin-top: 3px;
  margin-bottom: 3px;

  // Side-by-side viewable when minified
  float: left;
  margin-left: 15px;
  margin-right: 15px;

  &__teammate {
    display: table;
    border-bottom: 1px solid #d2d2d2;
    &:last-child {
      border-bottom: none;
    }
  }
}