<div class="CurrentGame">
  <button class="CloseBtn" (click)="close_emitter.emit(true)" title="Close this champion-selection">x</button>
  <label>
    Show icons?
    <input type="checkbox" [(ngModel)]="display_icons" />
  </label>
  <br/>
  <label>
    Minified mode?
    <input type="checkbox" [(ngModel)]="minified_mode" />
  </label>
  <br/>

  <div *ngIf="enemies" [dragula]="'enemies-bag'" [dragulaModel]="enemies" class="Teammates">
    <pre-game-teammate
        *ngFor="let s of enemies"
        class="Teammates__teammate"
        [summoner]="s"
        [other_teammates]="getTeammatesOfPlayer(s, enemies)"
        [queueing_for]="current_game.game_type"
        [display_summoner_icon]="display_icons"
        [use_minified_components]="minified_mode"

        [hide_statistics]="false">
    </pre-game-teammate>
  </div>

  <div *ngIf="allies" [dragula]="'allies-bag'" [dragulaModel]="allies" class="Teammates">
    <pre-game-teammate
        *ngFor="let s of allies"
        class="Teammates__teammate"
        [summoner]="s"
        [other_teammates]="getTeammatesOfPlayer(s, allies)"
        [queueing_for]="current_game.game_type"
        [display_summoner_icon]="display_icons"
        [use_minified_components]="minified_mode"

        [hide_statistics]="false">
    </pre-game-teammate>
  </div>
</div>