<pre>
  (Mostly a "reminder to self" sort of thing..)

  TODO "In-Game" Features:
   - premades (?) => [Click to copy “X & Y are you guys in Voice chat?”]
   - mainrole / offrole / autofill (?) => [Click to show potential swaps]
   - winstreak / loss streak (?)
   - care-zone (?)
   - aggregated [&lt;champion&gt; PER &lt;lane&gt;] statistics
      - mechanics
      - dying tendencies (variance in deaths)
          - avg .. max (=avg .. worst) variance
          - times (spikes/heatmap)
          - locations (sections/heatmap)
          - firstbloods
          - estimated location from allies (allies’ estimated speed from previous timestamp vs. location/section)
              - i.e. “did the person mimic leeroy jenkins?”
          - nearby (&lt; to-define-timeframe seconds) slaying events or tower/inhibitor event
              - e.g. “did the person trade it for a kill/tower/inhibitor?”
              - e.g. “did the person follow an unlucky ally and get baited by said ally?”
              - e.g. “was it in an all-out teamfight?”
          - enemy attackers
              - e.g. “was there likely a (player with smite) jungler involved?”
              - e.g. “was there likely a CC involved?”
              - e.g. “is it always vs specific champion?”
      - killing ( / assist) tendencies
          ...tocontinue
</pre>
