@import '../../../../../node_modules/font-awesome/css/font-awesome.min.css';

%clearfix { &:after { content: " "; display: table; clear: both; } }

.GameFinder {
  display: inline-block;

  &__header {
    padding: 2px 4px;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.33+0,0+100; */
    background: -moz-linear-gradient(left, rgba(0,0,0,0.33) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    &-text {
      font-family: "Roboto Mono", monospace;
    }
    &-toggle-btn {  }
  }

  &__controls {
    @extend %clearfix;
    padding: 3px;
    border: 1px solid slategray;
    box-shadow: 2px 2px 4px 0 #c9c9c9;
    margin-top: 3px;
  }
  &__target {
    display: table;
    margin-bottom: 10px;
    &-helper-text {
      display: block;
      font-family: Roboto, 'sans-serif';
    }
    &-clarification-text {
      display: block;
      text-align: right;
      font-family: Roboto, 'sans-serif';
      font-size: 14px;
      color: darkmagenta;
      cursor: help;
    }
    &-paste-input {
      font-family: monospace, serif;
      display: table;
      margin: 0 auto;
      margin-top: 6px;
    }
  }
  &__find-btn {
    padding: 6px 8px;
    font-family: Roboto, 'sans-serif';
    display: table;
    margin: 0 auto;
  }
  &__search-history {
    &-title {
      padding: 0;
      margin: 0;
      margin-bottom: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: black;
      text-decoration: underline;
      font-variant: small-caps;
    }
    &-item {
      display: block;
      margin-bottom: 5px;
      &::before {
        content: "• ";
      }
      &-text {
        cursor: pointer;
        color: #1a0dab;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &:visited {
          color: #660099;
        }
      }
    }
  }
}

.ErrorsContainer {
  display: inline-block;

  &__error {
    margin: 0;
    padding: 0;
    display: table;
    color: red;
    font-style: italic;
  }
}